 <script>
 $('#info li:nth-child(odd)').addClass('interc-1');


 </script>

 <%
  var showing = function (str,human) {
    var attrib = user.escape(str)

    if (attrib!== null && attrib !== "") {
      return "<li class='to-edit'><strong>" + human + ":</strong> " + attrib + "</li>"
    }
  };

%>


<h2 class="title">About me</h2>
<ul id="info">

  <%=showing("fname","First Name")%>

  <%=showing("lname","Last Name")%>

  <%=showing("education","Education")%>

  <%=showing("job","Job")%>

</ul>




<section id="modal" class="is-active">

<form class="edit" id="edit-user" data-remote="true">


  <label for="fname"><strong>First Name:</strong></label><input name="user[fname]" type="text" id="fname" value="<%= user.escape('fname') %>">



  <label for="lname"><strong>Last Name:</strong></label><input name="user[lname]" type="text" id="lname" value="<%=user.escape('lname')%>">



  <label for="education"><strong>Education:</strong></label><textarea name="user[education]" id="education" ><%=user.escape('education')%></textarea>


  <label for="job"><strong>Job:</strong></label><input name="user[job]" type="text" id="lname" value="<%=user.escape('job')%>">

  <label for="intro"><strong>Introduction:</strong></label><textarea name="user[intro]" id="intro" ><%=user.escape('intro')%></textarea>


  <button type="submit" id="edit-user"> Apply Changes </button>
  <button id="cancel" type="cancel">Cancel</button>
</form>

</section>


