 <script>
 $('#info li:nth-child(odd)').addClass('interc-1');
 </script>

 <%
  var showing = function (str,human) {
    var attrib = user.escape(str)

    if (attrib!== null && attrib !== "") {
      return "<li class='to-edit'><strong>" + human + ":</strong> " + attrib + "</li>"
    }
  };

%>


<h2 class="title">About me</h2>
<ul id="info">

  <%=showing("fname","First Name")%>

  <%=showing("lname","Last Name")%>

  <%=showing("education","Education")%>

  <%=showing("job","Job")%>

</ul>

<p class="hidden">
  <%= user.escape("intro") %>
</p>




