<form action="<%= user_url(user) %>" method="post" enctype="multipart/form-data">
  <input
     name="_method"
     type="hidden"
     value="put">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
     
  <label for="user_picture">Profile picture
    <input id="user_picture" type="file" name="user[picture]">
  </label>
  
  <label for="user_fname">First Name</label>
  <input
     id="user_fname"
     name="user[fname]"
     type="text"
     value="<%= user.fname %>">
  <br>

  <label for="user_lname">Last Name</label>
  <input
     id="user_lname"
     name="user[lname]"
     type="text"
     value="<%= user.lname %>">
  <br>

  <% @user.attributes.each do |attri,val| %>

        <% next if  unvisible_attribute(attri)%>

        <label for="<%= attri %>"><%= attri.capitalize %></label>
        <input
           id="<%= attri %>"
           name="user[<%= attri %>]"
           type="text"
           value="<%= val %>">
        <br>
  <% end %>

  <input type="submit" value="Complete">
</form>