<% mine = (current_user && current_user.id == @user.id ? "mine" : "") %>

<div class="content-sidebar">
  <div class="profile-picture">
    <img src="<%= @user.picture.url(:large) %>">
  </div>
  <div class="info <%= mine %>">
    <script>
    $(document).ready(function () {

      var id = parseInt(location.pathname.split("/")[2]);
      var user = new App.Models.User({id: id});
      var view = new App.Views.UserShow({model: user})
      user.fetch({
        success: function () {
          view = view.render()
          $(".intro").append(view.$el.children("p").clone().removeClass("hidden"))
          $(".info").prepend(view.$el);


        }
      })

      $("button#edit").on("click", function (event) {
        console.log("test");
        view.open = true
        $(".info").prepend(view.render().$el);
      })


      $("form.new-review").on("ajax:success", function(event, data){

          $(".reviews").prepend(data);
          var prev = $("light").text();
          var num = parseInt(prev.slice(1,prev.length-1))+1;
          var str = "("+num+")";
          $("light").html(str);
          this.reset();

        });




    })


    </script>


  </div>


  <button  id="edit" class="user-edit<%= mine %>" type="submit"> Edit </button>




  <% unless @user.places.empty? %>


    <h2 class="title"> <%= @user.fname.capitalize %>'s Places </h2>
    <div class="places">
      <ul>
        <% @user.places.each do |place| %>
        <div class="place-pic">
          <li>

            <a href="<%= place_url(place) %>">
              <h2><%= place.title %></h2>

              <img class="place" src="<%= place.place_pics.first.picture.url(:small) %>">
            </a>
          </li>
        </div>
        <% end %>
      </ul>
  </div>
  <% end %>
  <form action="<%= new_user_place_url(@user) %>" method="get">
    <button class="user-edit<%= mine %>" type="submit"> Add Place</button>
  </form>



  <div class="requests">
  <h2>Requests</h2>

   <% if current_user && @user.id == current_user.id %>
   <ul>
     <% @user.requests.each do |request| %>

       <% if request.approved == nil %>
         <li><%= "#{request.place.title}, #{request.start_date}, #{request.end_date}" %>
             <%= button_to "Approve",approve_request_url(request),method: :put %>
             <%= button_to "Deny", deny_request_url(request),method: :put %>
           <%end%>
           </li>
           <br>
       <% end %>
   </ul>

   <% end %>

  </div>

  <div class="pending-requests">

   <h2>Pending Requests</h2>
   <% if current_user && @user.id == current_user.id %>
   <ul>
     <% @user.made_requests.each do |request| %>
       <% if request.approved == true %>
         <% a = "Approved"%>
       <%elsif request.approved == false%>
         <% a = "Denied"%>
       <%else%>
         <% a = "Waiting" %>
       <%end%>

         <li><%= "#{request.place.title}, #{a}" %></li>
       <% end %>
   </ul>

   <% end %>

  </div>

</div>

  <div class="content-main">

    <div class="intro">
        <h1 class="hi"> Hi I'm <%= @user.fname %></h1>
        <h2><strong>Member Since:</strong> <%= @user.member_since %></h2>
    </div>
<% if current_user && @user.id != current_user.id %>
  <div class="new-review group">
    <h2>Make a Review</h2>

    <%= render "reviews/form",reviewable_id: params[:id], reviewable_type: "User" %>
  </div>
<% end %>

  <h2 id="reviews">Reviews<light>(<%=@user.reviews.length%>)</light></h2>


  <%= paginate @reviews %>
  <div class="reviews">

    <ul>
      <% @reviews.each do |review| %>
        <li>
          <%= render review  %>
        </li>
      <% end %>
    </ul>
  </div>



</div>
