<main>
<div>
    <img class="user" src="<%= @user.picture %>">

<br>

  <ul>
    <li> <strong>Name:</strong> <%= "#{@user.fname} #{@user.lname}" %></li>

    <% @user.attributes.each do |attri,val| %>

          <% next if  unvisible_attribute(attri) || val.nil? || val==""%>
          <li><strong><%= attri.capitalize %>:</strong> <%= val %></li>
          <% end %>

  </ul>
  <% if current_user && @user.id == current_user.id %>
    <a href="<%= edit_user_url(@user) %>">Edit</a>
    <a href="<%= new_user_place_url(@user) %>">Add a Place </a>
  <% end %>

</div>
<% unless @user.places.empty? %>
<div>
  
  <h2> <%= @user.fname.capitalize %>'s Places </h2>
    <ul>
      <% @user.places.each do |place| %>
        <a href="<%= place_url(place) %>"><li><%= place.title %>
          <img class="place" src="<%= place.picture %>"></li></a>
      <% end %>
    </ul>
</div>
<% end %>

<div class="requests">
<h2>Requests</h2>

 <% if current_user && @user.id == current_user.id %>
 <ul>
   <% @user.requests.each do |request| %>

     <% if request.approved == nil %>
       <li><%= "#{request.place.title}, #{request.start_date}, #{request.end_date}" %>
           <%= button_to "Approve",approve_request_url(request),method: :put %>
           <%= button_to "Deny", deny_request_url(request),method: :put %>
         <%end%>
         </li>
         <br>
     <% end %>
 </ul>
   
 <% end %>
 
 <br>
 <br>
 
 <h2>Pending Requests</h2>
 <% if current_user && @user.id == current_user.id %>
 <ul>
   <% @user.made_requests.each do |request| %>
     <% if request.approved == true %>
       <% a = "Approved"%>
     <%elsif request.approved == false%>
       <% a = "Denied"%>
     <%else%>
       <% a = "Waiting" %>
     <%end%>
 
       <li><%= "#{request.place.title}, #{a}" %></li>
     <% end %>
 </ul>
  
 <% end %>
 
</div>


</main>
