
<div>
    <img src="<%= @user.picture %>">
</div>
<br>
<div>
  <ul>
    <li> <strong>Name:</strong> <%= "#{@user.fname} #{@user.lname}" %></li>

    <% @user.attributes.each do |attri,val| %>

          <% next if  unvisible_attribute(attri) || val.nil? || val==""%>
          <li><strong><%= attri.capitalize %>:</strong> <%= val %></li>
          <% end %>

  </ul>
</div>

<div>
  <h2> Teo's Places </h2>
    <ul>
      <% @user.places.each do |place| %>
        <li><a href="<%= place_url(place) %>"><%= place.title %></a></li>
      <% end %>
    </ul>
</div>

 <% if current_user && @user.id == current_user.id %>
   <a href="<%= edit_user_url(@user) %>">Edit</a>
   <a href="<%= new_user_place_url(@user) %>">Add a Place </a>
 <% end %>


