<style>
.request{
}
.request li{
  float:left;
  padding-left:10px;
  padding-right:10px;

  min-height:150px;
}

.for-message{
  margin-top:20px;
  border:1px solid black;
  max-height:150px;
  max-width:150px;
  min-height:150px;
  min-width:150px ;
  overflow-y:auto;
  background:rgb(223, 223, 241);
  font-color:black;
}
.requester img{
  margin-top: 20px;
  height:150px;
  border-radius: 100px;
}



.dates{
  margin-top:20px;
  border:1px solid black;
  padding-top:50px;
  padding-right:5px;
  padding-left:5px;
  height:100px;
  color:black;
  background:rgb(223, 223, 241);
}

.dates h1{
  display:block ;
  margin-bottom:10px;
}

.status{
  min-width:80px;
}
.status button{
  margin-left:10px;
  margin-right:10px;
}

.status h3{
  padding:10px;
  margin-top:70px ;
  color:white;
}

.ap{
  background: green;
}

.de{
  background: red;
}

.wa{
  background: orange;
}

.pe{
  background:yellow;
  color:black;
}

.buttons-request {
  padding-top:70px  ;
}

</style>

<div class="request group">
  <ul class="info">
    <li>
      <div class="requester">
        <a href="<%= user_url(subject.id) %>"><img src="<%= subject.picture.url(:large) %>"></a>
      </div>
    </li>

    <li>
      <div class="for-message">
        <p><%= request.message %></p>
      </div>
    </li>

    <li>
      <div class="the-place">
        <!-- <a href="<%= place_url(request.place_id) %>"><img src="<%= request.place.place_pics[0].picture.url(:large) %>"></a> -->
        <%= render "places/minishow", place: request.place %>
      </div>
    </li>


    <li>
      <div class="dates">
        <h1><strong>Check In</strong> <%= request.start_date %> </h1>
        <h1><strong>Check Out </strong> <%= request.end_date %></h1>
      </div>
    </li>

    <li>
      <div class="status">


          <%if request.approved== true%>
            <h3 class="ap">Approved</h3>
          <%elsif request.approved==false%>
            <h3 class="de">Denyed</h3>
          <% elsif request.applicant == current_user %>
            <h3 class="wa">Waiting</h3>
          <% else %>
            <div class="buttons-request">
              <form action="<%=approve_request_url(request)%>" method="post">
                <input type="hidden"
                       name="authenticity_token"
                       value="<%= form_authenticity_token %>">
                <input type="hidden"
                       name="_method"
                       value="put">
                <button type="submit" id="approve">Approve</button>
              </form>

              <form action="<%=deny_request_url(request)%>" method="post">
                <input type="hidden"
                       name="authenticity_token"
                       value="<%= form_authenticity_token %>">
                <input type="hidden"
                       name="_method"
                       value="put">
                <button type="submit" id="deny">Deny</button>
              </form>
          <%end%>
        </div>

    </li>


  </ul>
</div>
