

<li>Title: <%= place.escape("title") %></li>
<li>Kind: <%= place.escape("kind") %></li>
<li>guests: <%= place.escape("max_guest") %></li>
<li>beds: <%= place.escape("num_beds") %></li>
<li>Country: <%= place.escape("country") %></li>
<li>City: <%= place.escape("city") %></li>
<li>Neighborhood: <%= place.escape("neighborhood") %></li>
