<% content_for :results do %>
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
<style>
  #map {
    width:800px;
    height:900px;
    display:block;
    border:2px solid black;
    border-top:0px;
    float:left;
    margin-bottom:0px;
  }

  .list-results{

    float:left;
    margin-top:20px;
    margin-left:40px;
  }

  .list-results h1{
    font-size: 60px;
    margin-top: 20px;
  }

  .sample-places{
    width:600px;
  }

  .sample-places li{
    margin-top:20px
  }


  .errors{
    position:absolute;
  }

  .content{
    display:none;
  }




</style>





<div class="total-results group">
<div id="map">
</div>
<div class="list-results">
  <h1>Places Available</h1>
<div class="sample-places">
  <%= paginate @places %>
<ul>
<% @places.each do |place| %>
 <li> <%= render "places/minishow", place: place %></li>
<% end %>
</ul>
</div>
</div>
</div>

<script>


var geocoder = L.mapbox.geocoder("jorar91.ioll56j6")
var map = L.mapbox.map('map','jorar91.ioll56j6').setView(<%= @map_coordinates %>,12)


<% @places.each_with_index do |place,i| %>

var marker = L.marker([  <%= place.latitude %>,<%= place.longitude %> ], {
       icon: L.mapbox.marker.icon({
         'marker-color': '#9c89cc'
       })
     })
     .bindPopup("<div class='for-pop'><div class='minishow'><h3> <%= place.title %> </h3><a href='<%= place_url(place) %>'><img src='<%= place.place_pics[0].picture.url(:large) %>'></a></div></div>")
     .addTo(map);
<% end %>


</script>

<% end %>