

  <script>
  $(document).ready(function () {
    var id = parseInt(location.pathname.split("/")[2]);
    var place = new App.Models.Place({id: id});
    var view = new App.Views.PlaceShow({model: place})
    place.fetch({
      success: function () {
        $(".side").prepend(view.render().$el);
      }
    });

    $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy'})

    $("form.request").on("ajax:success", function(event, data){

        $(".right-side").prepend(data);
        this.reset();

      });

    $("form.new-review").on("ajax:success", function(event, data){

        $(".reviews").prepend(data);
        var prev = $("light").text();
        var num = parseInt(prev.slice(1,prev.length-1))+1;
        var str = "("+num+")";
        $("light").html(str);
        this.reset();

      });


  })
  </script>

<div class="side">
<% if current_user && @place.owner_id != current_user.id %>
  <div class="new-review group">
    <h2>Make a Review</h2>

    <%= render "reviews/form",reviewable_id: params[:id], reviewable_type: "Place" %>
  </div>
<% end %>

  <h2 id="reviews">Reviews<light>(<%=@place.reviews.length%>)</light></h2>


  <%= paginate @reviews %>
  <div class="reviews">

    <ul>
      <% @reviews.each do |review| %>
        <li>
          <%= render review  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="right-side">
  <h2>Make a request</h2>
  <div class=new-request>
    <%= render "requests/form", id: params[:id]%>
  </div>
  <div class="owner-info">
    <h3><a href="<%=user_url(@place.owner_id)%>">Host: <%= @place.owner.fname %></a></h3>
    <a href="<%=user_url(@place.owner_id)%>"><img src="<%= @place.owner.picture.url(:large) %>"><a href="user_url(@place.owner_id)">
  </div>
</div>

<!-- <img src="<%= @place.place_pics.first.picture.url(:large) %>">

<h2>Reserved Dates</h2>
<ul>
  <% @place.reserved_dates.pluck(:day).each do |day| %>

      <li><%= day %></li>
  <%end %>
</ul>

<% if @place.owner == current_user %>
  <a href="<%= edit_user_place_url(current_user,@place) %>">Edit</a>
<% elsif current_user%>
  <a href="<%= new_place_request_url(@place) %>">Make a Request</a>
<%end%>

<strong>Owner: </strong><a href="<%= user_url(@place.owner_id) %>"><%= @place.owner.fname.capitalize %></a>


<div>
  <h2>Reviews</h2>
    <ul>
      <% @place.reviews.each do |review| %>
        <li>
          <%= review.maker.fname %>
            <p><%= review.body  %><p>
        </li>
      <% end %>
    </ul>

</div>

<a href="<%= new_place_review_url(@place) %>">Make a review</a> -->