  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />

  <style>
  #map-place{
    width:100%px;
    height:300px;
    margin:auto;
    margin-top:0px;
    border:2px solid black;
  }

  #for-map{
    margin-top:20px;
  }
  </style>

  <script>
  $(document).ready(function () {
    var id = parseInt(location.pathname.split("/")[2]);
    var place = new App.Models.Place({id: id});
    var view = new App.Views.PlaceShow({model: place})
    place.fetch({
      success: function () {
        $(".side").prepend(view.render().$el);
      }
    });

    var dates= []
    <% @place.reserved_dates.pluck(:day).each do |day|%>
      dates.push("<%= day.to_s %>")
    <% end %>
    console.log(dates)

    $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy', beforeShowDay: function (date) {
      var string= jQuery.datepicker.formatDate('yy-mm-dd',date);
      return[dates.indexOf(string) == -1]
    }, minDate: 0
    });

    $("form.request").on("ajax:success", function(event, data){

        $(".right-side").prepend(data);
        this.reset();

      });

    $("form.new-review").on("ajax:success", function(event, data){

        $(".reviews").prepend(data);
        var prev = $("light").text();
        var num = parseInt(prev.slice(1,prev.length-1))+1;
        var str = "("+num+")";
        $("light").html(str);
        this.reset();

      });


  })
  </script>



<div class="side">
<% if current_user && @place.owner_id != current_user.id %>
  <div class="new-review group">
    <h2>Make a Review</h2>

    <%= render "reviews/form",reviewable_id: params[:id], reviewable_type: "Place" %>
  </div>
<% end %>

  <h2 id="reviews">Reviews<light>(<%=@place.reviews.length%>)</light></h2>


  <%= paginate @reviews %>
  <div class="reviews">

    <ul>
      <% @reviews.each do |review| %>
        <li>
          <%= render review  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% owner = (current_user == @place.owner) %>
<div class="right-side">
  <h2>Make a request</h2>
  <div class=new-request>
    <%= render "requests/form", id: params[:id], owner: owner%>
  </div>
  <div class="owner-info">
    <h3><a href="<%=user_url(@place.owner_id)%>">Host: <%= @place.owner.fname %></a></h3>
    <a href="<%=user_url(@place.owner_id)%>"><img src="<%= @place.owner.picture.url(:large) %>"></a>
  </div>
  <h2 id="for-map">Location</h2>
  <div id="map-place">
  </div>


</div>


<script>
  var map2 = L.mapbox.map('map-place','jorar91.ioll56j6').setView([ <%= @place.latitude %>,<%= @place.longitude %> ],12)
  var marker2 = L.marker([ <%= @place.latitude %>,<%= @place.longitude %> ], {
         icon: L.mapbox.marker.icon({
           'marker-color': '#9c89cc'
         })
       }).addTo(map2);
 </script>
