<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <script>
  $(document).ready(function(){

      $(".in").on("click", function(event){
        event.preventDefault();
        $("#modal").addClass("is-active");
        $(".new-session").removeClass("hidden");
        $(".new-user").addClass("hidden");
      });

      $(".up").on("click", function(event){
        event.preventDefault();
        $("#modal").addClass("is-active");
        $(".new-user").removeClass("hidden");
        $(".new-session").addClass("hidden");
      });

      $("#modal").on("click", function(event){
        console.log(event)
        if (event.target.id == "modal") {
          event.preventDefault();
          $("#modal").removeClass("is-active");
          $(".for-up").removeClass("is-active");
        }

      });

      $("li.for-side").on("click", function(event){
        $("nav").toggleClass("open-menu");
        $(".to-shrink").toggleClass("shrinked");
      });

      $("#list-places").on("click", function (event) {
        $("#all-places").toggleClass("hidden");
        $("#list-places").toggleClass("in-action")
      })



    })
  </script>




</head>
<body>
  <header class="header group">

      <ul class="header-logo-search">
        <li><a href="/" %><img src="<%= asset_path("images/logo-nav.png") %>"></a></li>
        <li><a href="<%= new_search_url %>">Search</a></li>
      </ul>

      <ul class="header-links">
      <% if signed_in? %>
        <script>
          Window.currentUserId = <%= current_user.id %>
        </script>
          <li class="profile for-side">
            <div class="fname"><%= current_user.fname%></div>
            <img class="min-pic" src="<%= current_user.picture.url(:small)%>">
            <h3><%= current_user.notifications_count %></h3>
          </li>




          <% else %>
            <li class="in"><a href=#>Sign in</a></li>
            <li class="up"><a href=#>Sign Up</a></li>
          <% end %>
      </ul>



</header>
    <% if !signed_in? %>
      <section id="modal">

         <%= render "sessions/form"%>
         <%= render "users/formnew"%>

      </section>
    <%end%>
 <% if flash[:errors] %>
  <div class="errors">

    <p>
      <% flash[:errors].each_with_index do |error,i| %>
        <% if i==0 %>
          <%= error %>
          <% next %>
        <%end%>
        ,<%= error %>
      <% end %>
      </p>
  </div>



<% end %>
<% if signed_in? %>
  <nav class="sidebar">
    <ul>
      <li>
        <a href="<%= user_url(current_user) %>"><img src="<%= asset_path("images/profile.png") %>">Your Profile</a>
      </li>
      <li><a href="<%= user_requests_url(current_user) %>"><img src="<%= asset_path("images/request2.png") %>">Requests</a></li>
      <li><a href="<%= trips_user_url(current_user) %>"><img src="<%= asset_path("images/trips.png") %>">Your Trips</a></li>
      <li id="list-places">
        <img src="<%= asset_path("images/places.png") %>">
        <h3>Your Places</h3>
        <div class="hidden" id="all-places">
          <ul>
            <% current_user.places.each do |place| %>
              <li><a href="<%= place_url(place) %>"><img src="<%= place.place_pics.first.picture.url(:small) %>"><%= place.title %></a></li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
<%end%>



  <%= yield :home %>
  <%= yield :results %>





  <div class="content group"><%= yield %></div>


</body>

</html>
