<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <header class="header group">

      <ul class="header-logo-search">
        <li><a href="/" %>Logo</a></li>
        <li><a href="<%= new_search_url %>">Search</a></li>
      </ul>

      <ul class="header-links">
      <% if signed_in? %>
        <script>
          Window.currentUserId = <%= current_user.id %>
        </script>
          <li class="profile"><a class="group" href="<%= user_url(current_user)%>" class="to-profile">
            <div class="fname"><%= current_user.fname%></div>
            <img class="min-pic" src="<%= current_user.picture.url(:small)%>">
           </a>
          </li>
            <li><%= button_to "Log Out", session_url, :method => :delete %></li>



          <% else %>
            <li><%= link_to "Sign In", new_session_url %></li>
            <li><%= link_to "Sign up", new_user_url %></li>
          <% end %>
      </ul>



</header>
    <% if !signed_in? %>
      <div class="sign-in">
        <h1>Sign In</h1>

        <form action="<%= session_url %>" method="post">
          <input
             name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>">

          <label for="user_email">email</label>
          <input
             id="user_email"
             name="user[email]"
             type="text">
          <br>

          <label for="user_password">Password</label>
          <input
             id="user_password"
             name="user[password]"
             type="password">
          <br>

          <button type="submit">Log In</button>
        </form>
      <%end%>



      </div>

<div class="content group">


      <% if flash[:errors] %>
      <h3>Please fix the following errors:</h3>
      <ul>
        <% flash[:errors].each do |error| %>
        <li><%= error %></li>
        <% end %>
      </ul>
      <% end %>

<%= yield %>

</div>

</body>
</html>
