<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <script>
  $(document).ready(function(){

      $(".in").on("click", function(event){
        event.preventDefault();
        $("#modal").addClass("is-active");
        $(".new-session").removeClass("hidden");
        $(".new-user").addClass("hidden");
      });

      $(".up").on("click", function(event){
        event.preventDefault();
        $("#modal").addClass("is-active");
        $(".new-user").removeClass("hidden");
        $(".new-session").addClass("hidden");
      });

      $("#modal").on("click", function(event){
        console.log(event)
        if (event.target.id == "modal") {
          event.preventDefault();
          $("#modal").removeClass("is-active");
          $(".for-up").removeClass("is-active");
        }

      });

    })
  </script>




</head>
<body>
  <header class="header group">

      <ul class="header-logo-search">
        <li><a href="/" %><img src="<%= asset_path("images/logo-nav.png") %>"></a></li>
        <li><a href="<%= new_search_url %>">Search</a></li>
      </ul>

      <ul class="header-links">
      <% if signed_in? %>
        <script>
          Window.currentUserId = <%= current_user.id %>
        </script>
          <li class="profile"><a class="group" href="<%= user_url(current_user)%>" class="to-profile">
            <div class="fname"><%= current_user.fname%></div>
            <img class="min-pic" src="<%= current_user.picture.url(:small)%>">
           </a>
          </li>
            <li><%= button_to "Log Out", session_url, :method => :delete %></li>



          <% else %>
            <li class="in"><a href=#>Sign in</a></li>
            <li class="up"><a href=#>Sign U
              0p</a></li>
          <% end %>
      </ul>



</header>
    <% if !signed_in? %>
      <section id="modal">

         <%= render "sessions/form"%>
         <%= render "users/formnew"%>

      </section>
    <%end%>
 <% if flash[:errors] %>
  <div class="errors">

    <p>
      <% flash[:errors].each_with_index do |error,i| %>
        <% if i==0 %>
          <%= error %>
          <% next %>
        <%end%>
        ,<%= error %>
      <% end %>
      </p>
  </div>



<% end %>

  <%= yield :home %>
  <%= yield :results %>
<div class="content group">

<%= yield %>


</div>

</body>
</html>
