<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all" %>

</head>
<body>
  <header class="header group">
  
      <ul class="header-logo-search">
        <li><a href="/" %>Logo</a></li>
        <li><a href="<%= new_search_url %>">Search</a></li>
      </ul>

      <ul class="header-links">
      <% if signed_in? %>
          <li class="profile"><a class="group" href="<%= user_url(current_user)%>" class="to-profile">
            <div class="fname"><%= current_user.fname%></div>
            <img class="min-pic" src="<%= current_user.picture.url(:small)%>">
           </a>
          </li> 
            <li><%= button_to "Log Out", session_url, :method => :delete %></li>



          <% else %>
            <li><%= link_to "Sign In", new_session_url %></li> 
            <li><%= link_to "Sign up", new_user_url %></li>
          <% end %>
      </ul>
      
</header>

<br>


      <% if flash[:errors] %>
      <h3>Please fix the following errors:</h3>
      <ul>
        <% flash[:errors].each do |error| %>
        <li><%= error %></li>
        <% end %>
      </ul>
      <% end %>

<%= yield %>

</body>
</html>
